@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

@media print {
  .print\:hidden {
    display: none !important;
  }
  
  body {
    background-color: white !important;
    color: black !important;
  }
  
  @page {
    margin: 20mm;
  }
}
